.mt2{
    margin-top: 2px;
}
.mt10 {
    margin-top: 10px;
}
.mt14 {
    margin-top: 14px;
}
.mt20 {
    margin-top: 20px;
}
.mt50 {
    margin-top: 50px;
}
.mt100 {
    margin-top: 100px;
}

.ml2{
    margin-left: 2px;
}
.ml10 {
    margin-left: 10px;
}
.ml16 {
    margin-left: 16px;
}
.ml20 {
    margin-left: 20px;
}
.ml54 {
    margin-left: 54px;
}

.mr20{
    margin-right: 20px;
}

